:root {
  --col1: #272a31;
  --col2: #ec5242;
  --col3: #d3d3d3;
  --col4: #272a31;
}

.partners-container,
#header .socialMedia {
  background-color: var(--col1);
}

.button-container .program-btn {
  background-color: var(--col2);
}

header {
  background-color: var(--col3);
}

#program {
  background-color: var(--col4);
}

.work-time span {
  color: var(--col1);
}

.program-items span,
.about-items h1,
.intro-msg {
  color: var(--col2);
}

.partners-container h2,
.button-container a,
.program-container .heading,
.program-items p,
.top-navbar-item a {
  color: var(--col3);
}
